<div class="col">
    <div class="card" @onclick="this.OnClick">
        <img src="@this.Motorcycle.ImageUrl" class="card-img-top" alt="Motorcycle">

        <div class="raven-image-container">
			<div class="raven-image">
		        <img src="@this.Motorcycle.LogoUrl" title="Logo" alt="Logo">	
            </div>
		</div>
        
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Make: <span>@this.Motorcycle.Make</span></li>
                <li class="list-group-item">Model: <span>@this.Motorcycle.Model</span></li>
                <li class="list-group-item">Year: <span>@this.Motorcycle.Year</span></li>
            </ul>
        </div>
    </div>
</div>
