@attribute [Authorize]
@page "/"
@page "/motorcycle"


<div class="breadcrumbs-container">
    <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
</div>

<div class="container-fluid">
    <div class="toolbar-container">
        <div class="toolbar">
            <div class="d-grid gap-2 d-md-block">
                <AddButtonComponent Path="/create-motorcycle" Text="Add Motorcycle" />
            </div>
        </div>
    </div>


</div>

<div class="container">



    <div class="search-container">
        <SearchComponent OnHandleValidSubmit="@this.HandleValidSubmit" />
    </div>


    <div class="filter-container"></div>
    <div class="results-container">

       @* @if(this.Motorcycles is null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {*@
            <!-- Cards -->
            
       @* }*@

        <div class="row row-cols-1 row-cols-md-3 g-4 motorcycles-list">

        

                 <Virtualize @ref="MotorcycleContainer" ItemsProvider="@this.LoadMotorcycles" Context="motorcycle">
                    <ItemContent>
                        @{
                            string path = $"/motorcycle/{motorcycle.Id}";
                        }
                        <CardComponent Motorcycle="@motorcycle" Path="@path" />
                    </ItemContent>
                    <Placeholder>
                        <p>
                           Loading...
                        </p>
                    </Placeholder>
                </Virtualize>



               @* <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />
                <PS.Motorcycle.UserPortal.Controls.CardComponent />*@


            </div>



    </div>
</div>


<FooterComponent />
