@page "/create-motorcycle"

@attribute [Authorize]


<div class="breadcrumbs-container">
    <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
</div>



<div class="container">

    <EditForm Model="@this.motorcycle" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="toolbar-container">
            <div class="toolbar">
                <div class="d-grid gap-2 d-md-block">
                    <SaveButtonComponent Type="submit" />
                    <CancelButtonComponent />
                </div>
            </div>
        </div>


        <br />
        <h3>OVERALL</h3>
        <br />
        <div class="row g-3">

        
            <div class="form-group col-md-6">
                <label for="motorcycleMakeInput">Make</label>
                <InputText @bind-Value="this.motorcycle.Make" class="form-control" id="motorcycleMakeInput" />
               @* <ValidationMessage For="this.motorcycle.Make" />*@
            </div>

            <div class="form-group col-md-6">
                <label for="motorcycleModelInput">Model</label>
                <InputText @bind-Value="this.motorcycle.Model" class="form-control" id="motorcycleModelInput" />
               @* <ValidationMessage For="this.motorcycle.Make" />*@
            </div>

            <div class="form-group col-md-6">
                <label for="motorcycleProductionYearInput">Production Year</label>
                <InputNumber @bind-Value="this.motorcycle.ProductionYear" class="form-control" id="motorcycleProductionYearInput" />
                @* <ValidationMessage For="this.motorcycle.Make" />*@
            </div>

            <div class="form-group col-md-6">
                <label for="motorcycleMarketPriceInput">Market Price</label>
                <InputNumber @bind-Value="this.motorcycle.Price" class="form-control" id="motorcycleMarketPriceInput" />
                @* <ValidationMessage For="this.motorcycle.Make" />*@
            </div>





























            <div class="additional-info-container">

                <TabsControlComponent>
                    <TabContentComponent Title="chassis" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/chassis_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h4>DIMENSIONS AND WEIGHTS</h4>
                            <br />
                            <div>
                                <div class="row g-3">
                                    <div class="form-group col-md-4">
                                        <label for="motorcycleLengthInput">Overall Length</label>
                                        <InputNumber @bind-Value="this.motorcycle.Length" class="form-control" id="motorcycleLengthInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="motorcycleHeightInput">Overall Height</label>
                                        <InputNumber @bind-Value="this.motorcycle.Height" class="form-control" id="motorcycleHeightInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="motorcycleWidthInput">Overall Width</label>
                                        <InputNumber @bind-Value="this.motorcycle.Width" class="form-control" id="motorcycleWidthInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="motorcycleWheelbaseInput">Wheelbase</label>
                                        <InputNumber @bind-Value="this.motorcycle.Wheelbase" class="form-control" id="motorcycleWheelbaseInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="motorcycleGroundClearanceInput">Ground Clearance</label>
                                        <InputNumber @bind-Value="this.motorcycle.GroundClearance" class="form-control" id="motorcycleGroundClearanceInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="motorcycleSitHeightInput">Sit Height</label>
                                        <InputNumber @bind-Value="this.motorcycle.SitHeight" class="form-control" id="motorcycleSitHeightInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="motorcycleKerbMassInput">Kerb Mass</label>
                                        <InputNumber @bind-Value="this.motorcycle.KerbMass" class="form-control" id="motorcycleKerbMassInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="motorcycleFuelCapacityInput">Fuel Capacity</label>
                                        <InputNumber @bind-Value="this.motorcycle.FuelCapacity" class="form-control" id="motorcycleFuelCapacityInput" />
                                        @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="engine" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/engine_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>ENGINE</h3>
                            <br />
                            <div>
                                <div class="row g-3">

                                    <div class="form-group col-md-6">
                                        <label for="engineCapacityInput">Engine Capacity</label>
                                        <InputNumber @bind-Value="this.motorcycle.Engine.Capacity" class="form-control" id="engineCapacityInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                     <div class="form-group col-md-6">
                                        <label for="engineInput">Engine</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.EngineDescription" class="form-control" id="engineInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineBoreInput">Bore</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Bore" class="form-control" id="engineBoreInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineCompressionRatioInput">Compression Ratio</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.CompressionRatio" class="form-control" id="engineCompressionRatioInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineLubricationInput">Lubrication</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Lubrication" class="form-control" id="engineLubricationInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineIgnitionInput">Ignition</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Ignition" class="form-control" id="engineIgnitionInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineFuelSystemInput">Fuel System</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.FuelSystem" class="form-control" id="engineFuelSystemInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineTransmissionInput">Transmission</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Transmission" class="form-control" id="engineTransmissionInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineDriveInput">Drive</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Drive" class="form-control" id="engineDriveInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineStarterInput">Starter</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Starter" class="form-control" id="engineStarterInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineMPGInput">MPG</label>
                                        <InputNumber @bind-Value="this.motorcycle.Engine.Mpg" class="form-control" id="engineMPGInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineCO2Input">CO2</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Co2" class="form-control" id="engineCO2Input" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="enginePowerInput">Power</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Power" class="form-control" id="enginePowerInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="engineTorqueInput">Torque</label>
                                        <InputText @bind-Value="this.motorcycle.Engine.Torque" class="form-control" id="engineTorqueInput" />
                                       @* <ValidationMessage For="this.motorcycle.Make" />*@
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="suspension" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/suspension_original_1.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>SUSPENSION</h3>
                            <br />
                            @foreach(var suspension in this.motorcycle.Chassis.Suspensions)
                            {
                                <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; padding: 10px; margin-bottom: 20px;">
                                    <h5>@suspension.Type</h5>
                                    <br />
                                    <div class="row g-3">

                                        <div class="form-group col-md-6">
                                            <label for="suspensionNameInput">Name</label>
                                            <InputText @bind-Value="@suspension.Name" class="form-control" id="suspensionNameInput" />
                                            @* <ValidationMessage For="this.motorcycle.Make" />*@
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="suspensionDescriptionInput">Description</label>
                                            <InputText @bind-Value="@suspension.Description" class="form-control" id="suspensionDescriptionInput" />
                                            @* <ValidationMessage For="this.motorcycle.Make" />*@
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="wheels" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/wheel_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>WHEELS</h3>
                            <br />
                            @foreach(var wheel in this.motorcycle.Chassis.Wheels)
                            {
                                <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; padding: 10px; margin-bottom: 20px;">
                               
                                    <h5>@wheel.Type</h5>
                                    <br />
                                    <div class="row g-3">

                                        <div class="form-group col-md-6">
                                            <label for="wheelRimDiameterInput">Rim Diameter</label>
                                            <InputNumber @bind-Value="@wheel.RimDiameter" class="form-control" id="wheelRimDiameterInput" />
                                            @* <ValidationMessage For="this.motorcycle.Make" />*@
                                        </div>

                                        <div class="row g-3">
                                            <br />
                                            <h4>Tyre</h4>
                                            <br />
                                            <div class="form-group col-md-6">
                                                <label for="tyreBrandInput">Brand</label>
                                                <InputText @bind-Value="@wheel.Tyre.Brand" class="form-control" id="tyreBrandInput" />
                                                @* <ValidationMessage For="this.motorcycle.Make" />*@
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="tyreSpeedIndexInput">Speed Index</label>
                                                <InputText @bind-Value="@wheel.Tyre.SpeedIndex" class="form-control" id="tyreSpeedIndexInput" />
                                                @* <ValidationMessage For="this.motorcycle.Make" />*@
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="tyreRimDiameterInput">Rim Diameter</label>
                                                <InputNumber @bind-Value="@wheel.Tyre.RimDiameter" class="form-control" id="tyreRimDiameterInput" />
                                                @* <ValidationMessage For="this.motorcycle.Make" />*@
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="tyreWidthInput">Width</label>
                                                <InputNumber @bind-Value="@wheel.Tyre.Width" class="form-control" id="tyreWidthInput" />
                                                @* <ValidationMessage For="this.motorcycle.Make" />*@
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="tyreProfileInput">Profile</label>
                                                <InputNumber @bind-Value="@wheel.Tyre.Profile" class="form-control" id="tyreProfileInput" />
                                                @* <ValidationMessage For="this.motorcycle.Make" />*@
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="tyreLoadIndexOfTireInput">Load Index Of Tyre</label>
                                                <InputNumber @bind-Value="@wheel.Tyre.LoadIndexOfTyre" class="form-control" id="tyreLoadIndexOfTireInput" />
                                                @* <ValidationMessage For="this.motorcycle.Make" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="brakes" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/Brake_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>BREAKS</h3>
                            <br />
                            @foreach(var brake in this.motorcycle.Chassis.Brakes)
                            {
                                <div style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; padding: 10px; margin-bottom: 20px;">
                                
                                    <h5>@brake.Type</h5>
                                    <br />
                                    <div class="row g-3">

                                        <div class="form-group col-md-6">
                                            <label for="brakeNameInput">Name</label>
                                            <InputText @bind-Value="@brake.Name" class="form-control" id="brakeNameInput" />
                                            @* <ValidationMessage For="this.motorcycle.Make" />*@
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label for="brakeNumberOfDiscsInput">Number Of Discs</label>
                                            <InputNumber @bind-Value="@brake.NumberOfDiscs" class="form-control" id="brakeNumberOfDiscsInput" />
                                            @* <ValidationMessage For="this.motorcycle.Make" />*@
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </TabContentComponent>
                </TabsControlComponent>

            </div>


          </div>
    </EditForm>
</div>

