@page "/motorcycle/{Id:guid}"

@attribute [Authorize]

<div class="breadcrumbs-container">
    <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
</div>

    @if(this.motorcycle is null)
    {
        <p>Loading...</p>
    }
    else
    {

<div class="container-fluid">


         @*<div class="p-5 mb-4 rounded-3 motorcycle-jumbo-container" bis_skin_checked="1" style="background-color: lightcoral !important;">
            <div class="container-fluid py-5 motorcycle-jumbo-text" bis_skin_checked="1" >
                <img src="https://moto-trips.pl/wp-content/uploads/2020/09/Suzuki-GSXS-750.jpg" alt="Snow">

                <h1 class="display-5 fw-bold">@this.motorcycle.Make</h1>
                <p class="col-md-8 fs-4">@this.motorcycle.Model</p>
            </div>
        </div>*@


        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
            @*<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>*@
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://moto-trips.pl/wp-content/uploads/2020/09/Suzuki-GSXS-750.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>@this.motorcycle.Make</h1>
                    <p>@this.motorcycle.Model</p>
                </div>  
             </div>
            <div class="carousel-item">
              <img src="https://moto-trips.pl/wp-content/uploads/2020/07/Harley-Davidson-Low-Rider-S.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h1>@this.motorcycle.Make</h1>
                    <p>@this.motorcycle.Model</p>
                </div>  
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>



           <div class="toolbar-container">
                <div class="toolbar">
                    <div class="d-grid gap-2 d-md-block">
                        <AddButtonComponent />
                 
                    </div>
                </div>
            </div>
 





   
   

    
</div>

<div class="container"> 

    <div class="about">
        <h2>About</h2>
    </div>


    <div class="technical-details">
        <h2>Technical Details</h2>
        
        <div class="table-responsive ">
            <table class="table table-striped table-borderless ">
                <tbody>
                    <tr>
                        <th class="col-md-2">Production Year:</th>
                        <td class="col-md-10">@this.motorcycle.ProductionYear</td>
                    </tr>
                    <tr>
                        <th>Market Price:</th>
                        <td>@this.motorcycle.Price</td>
                    </tr>

              </tbody>
            </table>
        </div>



        <div class="additional-info-container">
            <ul class="nav nav-tabs nav-additional-info">
                <li class="nav-item" >
                    <button class="nav-link custom-tab-button active" type="button" aria-current="page" @onclick="(x => this.DisplayTab(1))">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/static-images/chassis_original.jpg" class="card-img-top custom-tab-button-img" alt="chassis">
                        <p>chassis</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link custom-tab-button" type="button" @onclick="(x => this.DisplayTab(2))">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/static-images/engine_original.jpg" class="card-img-top custom-tab-button-img" alt="engine">
                        <p>engine</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link custom-tab-button" type="button" @onclick="(x => this.DisplayTab(3))">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/static-images/suspension_original_1.jpg" class="card-img-top custom-tab-button-img" alt="suspension">
                        <p>suspension</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link custom-tab-button" type="button" @onclick="(x => this.DisplayTab(4))">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/static-images/wheel_original.jpg" class="card-img-top custom-tab-button-img" alt="wheels">
                        <p>wheels</p>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link custom-tab-button" type="button" @onclick="(x => this.DisplayTab(5))">
                        <img src="https://cdn-ps-motorcycle.azureedge.net/static-images/Brake_original.jpg" class="card-img-top custom-tab-button-img" alt="brakes">
                        <p>brakes</p>
                    </button>
                </li>
            </ul>

                @if(this.tab1)
                {
                    <div class="tabContent">
                        <br />
                        <h4>DIMENSIONS AND WEIGHTS</h4>
                        <br />

                        <div class="table-responsive ">
                            <table class="table table-striped table-borderless ">
                                <tbody>
                                    <tr>
                                        <th class="col-md-2">Overall Length:</th>
                                        <td class="col-md-10">@this.motorcycle.Length</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Overall Height:</th>
                                        <td class="col-md-10">@this.motorcycle.Height</td>
                                    </tr>
                                     <tr>
                                        <th class="col-md-2">Overall Width:</th>
                                        <td class="col-md-10">@this.motorcycle.Width</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Wheelbase:</th>
                                        <td class="col-md-10">@this.motorcycle.Wheelbase</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Ground Clearance:</th>
                                        <td class="col-md-10">@this.motorcycle.GroundClearance</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Sit Height:</th>
                                        <td class="col-md-10">@this.motorcycle.SitHeight</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Kerb Mass:</th>
                                        <td class="col-md-10">@this.motorcycle.KerbMass</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Fuel Capacity:</th>
                                        <td class="col-md-10">@this.motorcycle.FuelCapacity</td>
                                    </tr>
                              </tbody>
                            </table>
                        </div>




                    </div>
                }

                @if(this.tab2)
                {
                    <div class="tabContent">
                        <br />
                        <h3>ENGINE</h3>
                        <br />
                        <div class="table-responsive ">
                            <table class="table table-striped table-borderless ">
                                <tbody>
                                    <tr>
                                        <th class="col-md-2">Engine Capacity:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Capacity</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Engine:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.EngineDescription</td>
                                    </tr>
                                     <tr>
                                        <th class="col-md-2">Bore:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Bore</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Compression Ratio:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.CompressionRatio</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Lubrication:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Lubrication</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Ignition:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Ignition</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Fuel System:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.FuelSystem</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Transmission:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Transmission</td>
                                    </tr>

                                    <tr>
                                        <th class="col-md-2">Drive:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Drive</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Starter:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Starter</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">MPG:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Mpg</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">CO2:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Co2</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Power:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Power</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">Torque:</th>
                                        <td class="col-md-10">@this.motorcycle.Engine.Torque</td>
                                    </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                }

                @if(this.tab3)
                {
                    <div class="tabContent">
                        <br />
                        <h3>SUSPENSION</h3>
                        <br />

                        @foreach(var suspension in this.motorcycle.Chassis.Suspensions)
                        {
                            <h5>@suspension.Type</h5>
                            <div class="table-responsive ">
                                <table class="table table-striped table-borderless ">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Name:</th>
                                            <td class="col-md-10">@suspension.Name</td>
                                        </tr>
                                        <tr>
                                            <th>Description:</th>
                                            <td>@suspension.Description</td>
                                        </tr>
                                  </tbody>
                                </table>
                            </div>
                        }

                    </div>
                }

                @if(this.tab4)
                {
                    <div class="tabContent">
                        <br />
                        <h3>WHEELS</h3>
                        <br />
                        @foreach(var wheel in this.motorcycle.Chassis.Wheels)
                        {
                            <h5>@wheel.Type</h5>
                            <div class="table-responsive ">
                                <table class="table table-striped table-borderless ">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Rim Diameter:</th>
                                            <td class="col-md-10">@wheel.RimDiameter</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <br />
                                                <h4>Tyre</h4>
                                                <br />
                                                <table class="table mb-0">
                                                  <tbody>
                                                      <tr>
                                                        <th class="col-md-2">Brand:</th>
                                                        <td class="col-md-10">@wheel.Tyre.Brand</td>
                                                      </tr>

                                                      <tr>
                                                        <th class="col-md-2">Speed Index:</th>
                                                        <td class="col-md-10">@wheel.Tyre.SpeedIndex</td>
                                                      </tr>
                                                      <tr>
                                                        <th class="col-md-2">Width:</th>
                                                        <td class="col-md-10">@wheel.Tyre.Width</td>
                                                      </tr>
                                                      <tr>
                                                        <th class="col-md-2">Profile:</th>
                                                        <td class="col-md-10">@wheel.Tyre.Profile</td>
                                                      </tr>
                                                      <tr>
                                                        <th class="col-md-2">Load Index Of Tyre:</th>
                                                        <td class="col-md-10">@wheel.Tyre.LoadIndexOfTyre</td>
                                                      </tr>
                                                  </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                  </tbody>
                                </table>
                            </div>
                        }

                    </div>
                }

                @if(this.tab5)
                {
                    <div class="tabContent">
                        <br />
                        <h3>BREAKS</h3>
                        <br />
                        @foreach(var brake in this.motorcycle.Chassis.Brakes)
                        {
                            <h5>@brake.Type</h5>
                            <div class="table-responsive ">
                                <table class="table table-striped table-borderless ">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Name:</th>
                                            <td class="col-md-10">@brake.Name</td>
                                        </tr>
                                        <tr>
                                            <th>Number Of Discs:</th>
                                            <td>@brake.NumberOfDiscs</td>
                                        </tr>
                                  </tbody>
                                </table>
                            </div>
                        }
                    </div>
                }
            </div>



    </div>

    <div class="gallery">
        <h2>Gallery</h2>
    </div>
     


</div>







   }
