@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using PS.Motorcycle.Domain.Types
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="main">
    <div class="main-section">
        <div class="breadcrumbs-container">
            <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
        </div>
    </div>
    <div class="main-section main-search-section">
        <div class="panel search-panel">
            <div class="container">
                <div class="search-container">
                    <SearchComponent OnSearchClick="@this.OnSearchClick" IsClicked="@this.isSearchClicked" />
                </div>

                @if(this.searchData is null)
                {
                    @*<p><em>Loading...</em></p>*@
                    <div class="body-type-container">
                        <BodyTypeCaruselComponent OnBodyTypeClick="@this.OnBodyTypeFilterClickHandlerAsync" />
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="results-container">
                            @*filters*@
                            <div class="filter-container col-sm-12 col-md-2 col-lg-2">
                                <AzureCognitiveSearchMakeComponent MakeData="@this.makeData" 
                                                                    ModelData="@this.modelData" 
                                                                    OnMakeClick="@this.OnMakeClickHandlerAsync" 
                                                                    OnModelClick="@this.OnModelClickHandlerAsync" />

                                <AzureCognitiveSearchFacetComponent FacetsData="@this.facetsData" 
                                                                    OnFacetClick="@this.OnFacetClickHandlerAsync" />

                                <AzureCognitiveSearchProductionYearComponent YearData="@this.yearData" 
                                                                                OnMinYearChanged="@this.OnMinYearChangedHandlerAsync" 
                                                                                OnMaxYearChanged="@this.OnMaxYearChangedHandlerAsync" />

                                <AzureCognitiveSearchEngineCapacityComponent EngineCapacity="@this.engineCapacityData" 
                                                                                OnMinEngineCapacityChanged="@this.OnMinEngineCapacityChangedHandlerAsync"
                                                                                OnMaxEngineCapacityChanged="@this.OnMaxEngineCapacityChangedHandlerAsync" />
                            </div>
                            <div class="cards-container col-sm-2 col-md-10 col-lg-10">
                                @if(this.filters.Count() > 0)
                                {
                                    <PillComponent Filters=@this.filters 
                                                    OnFilterRemoveClick=@this.OnFilterRemoveClickHandlerAsync
                                                    OnFilterResetClick=@this.OnFilterResetClickHandlerAsync />
                                }
                                <div class="row row-cols-1 row-cols-md-3 g-4 motorcycles-list">
                                    @*results *@
                                    @{
                                        var results = this.searchData.resultList?.GetResults().ToList();

                                        if(results.Count.Equals(0))
                                        {
                                            <div class="empty-motorcycle-list">
                                                <p>Sorry, there are no results.</p>
                                            </div>
                                        }
                                        else
                                        {
                                            foreach(var result in results)
                                            {
                                                string path = $"/motorcycle/{result.Document.Id}";
                                                <CardComponent Motorcycle="result.Document" Path="@path" />
                                            }
                                        }
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="main-section">
        @*pagination*@
        @if(this.searchData != null && this.searchData.pageCount > 1)
        {
            <div class="panel paging-panel">
                <div class="row">
                    <div class="pagination-container col-sm-12 col-md-12 col-lg-12">
                        <PagingComponent CurrentPage=@this.searchData.currentPage 
                                         LeftMostPage=@this.searchData.leftMostPage 
                                         PageCount=@this.searchData.pageCount 
                                         PageRange=@this.searchData.pageRange 
                                         SearchText=@this.searchData.searchText 
                                         OnSearchPagerClick=@this.OnSearchPagerClickHandlerAsync />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="main-section">
        <FooterComponent />
    </div>
</div>