
@page "/motorcycle/{Id:guid}"



<div class="breadcrumbs-container">
    <BreadcrumbComponent Breadcrumbs="@this.Breadcrumbs"></BreadcrumbComponent>
</div>


@if(this.motorcycle is null)
{
    <p>Loading...</p> 
}
else
{

    <JumbotronComponent ImgUrl="@this.motorcycle.ImageUrl" Title="@this.motorcycle.Make" SubTitle="@this.motorcycle.Model"  />


    <div class="container"> 

        <div class="about">
            <h2>About</h2>
            <br />
            <p>@this.motorcycle.About</p>
        </div>

        <div class="technical-details">

            <h2>Technical Details</h2>
            <br />
        
            <div class="table-responsive ">
                <table class="table table-striped table-borderless ">
                    <tbody>
                        <tr>
                            <th class="col-md-2">Body Type:</th>
                            <td class="col-md-10">@this.motorcycle.BodyType</td> 
                        </tr>
                        <tr>
                            <th class="col-md-2">Production Year:</th>
                            <td class="col-md-10">@this.motorcycle.ProductionYear</td>
                        </tr>
                        <tr>
                            <th>Market Price:</th>
                            <td>@this.motorcycle.Price</td>
                        </tr>

                  </tbody>
                </table>
            </div>

            <div class="additional-info-container">

                <TabsControlComponent>
                    <TabContentComponent Title="chassis" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/chassis_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h4>DIMENSIONS AND WEIGHTS</h4>
                            <br />
                            <div class="table-responsive ">
                                <table class="table table-striped table-borderless ">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Overall Length:</th>
                                            <td class="col-md-10">@this.motorcycle.Length</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Overall Height:</th>
                                            <td class="col-md-10">@this.motorcycle.Height</td>
                                        </tr>
                                         <tr>
                                            <th class="col-md-2">Overall Width:</th>
                                            <td class="col-md-10">@this.motorcycle.Width</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Wheelbase:</th>
                                            <td class="col-md-10">@this.motorcycle.Wheelbase</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Ground Clearance:</th>
                                            <td class="col-md-10">@this.motorcycle.GroundClearance</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Sit Height:</th>
                                            <td class="col-md-10">@this.motorcycle.SitHeight</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Kerb Mass:</th>
                                            <td class="col-md-10">@this.motorcycle.KerbMass</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Fuel Capacity:</th>
                                            <td class="col-md-10">@this.motorcycle.FuelCapacity</td>
                                        </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="engine" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/engine_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>ENGINE</h3>
                            <br />
                            <div class="table-responsive ">
                                <table class="table table-striped table-borderless ">
                                    <tbody>
                                        <tr>
                                            <th class="col-md-2">Engine Capacity:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Capacity</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Engine:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.EngineDescription</td>
                                        </tr>
                                         <tr>
                                            <th class="col-md-2">Bore:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Bore</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Compression Ratio:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.CompressionRatio</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Lubrication:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Lubrication</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Ignition:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Ignition</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Fuel System:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.FuelSystem</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Transmission:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Transmission</td>
                                        </tr>

                                        <tr>
                                            <th class="col-md-2">Drive:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Drive</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Starter:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Starter</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">MPG:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Mpg</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">CO2:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Co2</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Power:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Power</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Torque:</th>
                                            <td class="col-md-10">@this.motorcycle.Engine.Torque</td>
                                        </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="suspension" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/suspension_original_1.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>SUSPENSION</h3>
                            <br />
                            @foreach(var suspension in this.motorcycle.Chassis.Suspensions)
                            {
                                <h5>@suspension.Type</h5>
                                <div class="table-responsive ">
                                    <table class="table table-striped table-borderless ">
                                        <tbody>
                                            <tr>
                                                <th class="col-md-2">Name:</th>
                                                <td class="col-md-10">@suspension.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Description:</th>
                                                <td>@suspension.Description</td>
                                            </tr>
                                      </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="wheels" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/wheel_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>WHEELS</h3>
                            <br />
                            @foreach(var wheel in this.motorcycle.Chassis.Wheels)
                            {
                                <h5>@wheel.Type</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped table-borderless">
                                        <tbody>
                                            <tr>
                                                <th class="col-md-2">Rim Diameter:</th>
                                                <td class="col-md-10">@wheel.RimDiameter</td>
                                            </tr>
                                            <tr>
                                                <td colspan="4">
                                                    <br />
                                                    <h4>Tyre</h4>
                                                    <br />
                                                    <table class="table table-striped table-borderless">
                                                      <tbody>
                                                          <tr>
                                                            <th class="col-md-2">Brand:</th>
                                                            <td class="col-md-10">@wheel.Tyre.Brand</td>
                                                          </tr>

                                                          <tr>
                                                            <th class="col-md-2">Speed Index:</th>
                                                            <td class="col-md-10">@wheel.Tyre.SpeedIndex</td>
                                                          </tr>
                                                          <tr>
                                                            <th class="col-md-2">Width:</th>
                                                            <td class="col-md-10">@wheel.Tyre.Width</td>
                                                          </tr>
                                                          <tr>
                                                            <th class="col-md-2">Profile:</th>
                                                            <td class="col-md-10">@wheel.Tyre.Profile</td>
                                                          </tr>
                                                          <tr>
                                                            <th class="col-md-2">Load Index Of Tyre:</th>
                                                            <td class="col-md-10">@wheel.Tyre.LoadIndexOfTyre</td>
                                                          </tr>
                                                      </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                      </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </TabContentComponent>
                    <TabContentComponent Title="brakes" ImgUrl="https://cdn-ps-motorcycle.azureedge.net/static-images/Brake_original.jpg">
                        <div class="tabContent">
                            <br />
                            <h3>BREAKS</h3>
                            <br />
                            @foreach(var brake in this.motorcycle.Chassis.Brakes)
                            {
                                <h5>@brake.Type</h5>
                                <div class="table-responsive ">
                                    <table class="table table-striped table-borderless">
                                        <tbody>
                                            <tr>
                                                <th class="col-md-2">Name:</th>
                                                <td class="col-md-10">@brake.Name</td>
                                            </tr>
                                            <tr>
                                                <th>Number Of Discs:</th>
                                                <td>@brake.NumberOfDiscs</td>
                                            </tr>
                                      </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </TabContentComponent>
                </TabsControlComponent>

            </div>
        </div>

        <div class="gallery">
            <h2>Gallery</h2>
             <br />
            <SlideshowGalleryComponent Images="@this.images" />
        </div>
     


    </div>







}

<FooterComponent />